*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.card{
    width: 90%;
    margin: 20px;
    background:limegreen;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 35px 40px;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}.search input{
    border: 0;
    outline: 0;
    background: #ebffce;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border-radius: 50%;
    background: lavender;
    width: 60px;
    cursor: pointer;
    height: 60px;
    border: 0;
    outline: 0;

}
.search button img{
    width: 16px;
}